extends layout

block content
  header
    h1= title
    div(class="t-l-container")
      a(href="/new" class="top-link")= "Add new category"
  each category in categories
    div(class="category")
      a(href=category.url)= category.title
      div(class="img-desc")
        img(src= category.image class="smaller")
        div(class="description")= category.description
      div(class="count")= `Count of products in this category:${category.count}`
