extends layout

block content
  header
    h1= title
    div(class="t-l-container")
      a(href="/" class="top-link")= "Back to categories"
  form(action='/new', method='POST' encType="multipart/form-data")
    label(for="title")="Title*"
    input(type='text',required, name='title' id="title")
    label(for="description")="Description*"
    input(type='text',required, name='description' id="description")
    label(for="image")="Image"
    input(type='file', name='image' id="image")
    button(type="submit")="Submit category"
