extends layout

block content
    header
        h1= title
        div(class="t-l-container")
            a(href=`/category/${product.category}` class="top-link")= "Back to category"
    div(class="category")
        div(class="img-desc")
            img(src= product.imgSrc class="smaller")
            div(class="img-desc")= product.description
        div(class="count")= `$${product.price}`
    
    h2(class="blue")= "Delete Product"
    //it has to be capital doesn't work otherwise
    form(class="form" action=`/category/details/deletE/${product._id}` method='post')
        label(for="admin_key_delete")="Admin key*"
        input(type='text',required, name='admin_key_delete' id="admin_key_delete")
        button(type="submit")="DELETE PRODUCT"
    h2(class="blue")= "Update Product"

    form(class="form" action=`/category/details/update/${product._id}` method='post' encType="multipart/form-data")
        label(for="admin_key_update")="Admin key*"
        input(type='text',required, name='admin_key_update' id="admin_key_update")
        label(for="title")="Product name*"
        input(type='text',required,value=product.title name='title' id="title")
        label(for="description")="Description*"
        input(type='text',required,value=product.description name='description' id="description")
        label(for="description")="Price in $*"
        input(type='number',required,value=product.price name='price' id="price")
        label(for="image")="Image select one if you want to update"
        input(type='file' name='image' id="image")
        button(type="submit")="Update product"